<%= provide(:title, 'Sign Up') %>
<%= provide(:button_text, 'Save your changes') %>

<div class="row">
	<div class="small-10 small-centered medium-4 medium-centered columns">
	<h2 id="sign_up">Update</h2>
	
	<%= render 'form' %>

	<div class="gravatar_edit">
		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails" target="blank" rel="noopener">change</a>
	</div>
	
	</div>
</div>