<%= provide(:title, @user.last_name) %>

<div class="row">
	<div class="small-12 medium-12 columns">
		<h1 class="title">
		<%= gravatar_for @user %>
		<%= @user.first_name + '  ' + @user.last_name %>
		</h1>
	</div>
</div>u