
// COMMON
:root{
	font-size: calc(0.5em + 0.7vw);
}

h1.title{
	text-align: center;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content{
	flex: 1;
}


// Signing forms
#sign_up{
	margin-top:  1rem;
	text-align: center;
}

//NAVBAR

$topbar-background: #3e474f;
$topbar-submenu-background: $topbar-background;
$dropdownmenu-arrow-color: transparent;

#top-bar{
	padding: 0;
}

ul.menu li.menu-text {
	color: #5fcf80;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2.5rem;
}

ul.dropdown.menu li a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2.5rem;
	color: #b2bbbd;
}
ul.dropdown.menu li a:hover {
	color: white;
}

//FOOTER
.footer {
	background-color: #225;
	padding: 2rem 4rem;
	color: #fff;
}

.footer h4 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.3em;
}

.footer a {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.8em;
}

.footer a span {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.3);
}

.footer hr {
	border-color: rgba(255, 255, 255, 0.2);
	margin: 10px 0;
}

.footer a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.gravatar_deit {
	margin: 2rem 0;
}