<footer class="footer">
	<div class="row small-up-1 medium-up-3">
		<div class="column">
			<h4>Contact Infomation</h4>
			<hr>
			<a href="#"><span>Phone:</span> 555 555 555</a>
			<a href="#"><span>Email:</span> info@company.com</a>
			<a href="#"><span>Address:</span>123 Center Street</a>
		</div>

	<div class="column">
		<h4>Site Map</h4>
		<hr>
		<a href="#">About Us</a>
		<a href="#">Services</a>
		<a href="#">Contact Us</a>
	</div>

	<div class="column">
		<h4>Social Media</h4>
		<hr>
		<a href="#">Facebook</a>
		<a href="#">Twitter</a>
		<a href="#">Instagram</a>
	</div>
	</div>
</footer>